@font-face {
    font-family: 'SFCompactRounded';
    src: url('SFCompactRounded-Medium.woff2') format('woff2'),
        url('SFCompactRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactText';
    src: url('SFCompactText-Light.woff2') format('woff2'),
        url('SFCompactText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #333;
    font-family: 'SFCompactText';
}

 .container {
     display: flex;
     flex-direction: column; /* Stack vertically on mobile */
     align-items: center; /* Center the items on mobile */
     margin-top: 50px;
 }
 
 .content{
     text-align: left;
     width: 100%; /* Take full width on mobile */
     padding: 0 10px; /* Adds padding to text */
 }
 
 .photo {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-right: 20px;
     cursor: pointer;
 }
 
 .wave {
     position: absolute;
     border: solid 2px black;
     border-radius: 50%;
     transform: scale(0);
     opacity: 1;
     animation: none;
 }
 
 @keyframes waveAnimation {
     0% {
         transform: scale(0);
         opacity: 0.75;
     }
     100% {
         transform: scale(3);
         opacity: 0;
     }
 }

h1, h2, p, ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
  background-color: yellow;
}

@media (max-width: 600px) {
    .container {
        display: block;
        text-align: center;
    }

    .photo {
        margin-left: 5px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .container {
        flex-direction: row; /* Horizontal layout on larger screens */
        align-items: center; /* Align items vertically in the center */
    }
    .photo {
        margin-right: 20px; /* Space between image and text on desktop */
        margin-bottom: 0; /* No bottom margin on desktop */
    }
    .content {
        padding: 0; /* No padding needed on larger screens */
        max-width: none; /* No max-width restriction */
    }
}
